doctype html
html
    head
    body
        #mainDiv
            table(border='1', width='100%')

                tr
                    td
                        video#localVideo(autoplay='true')
                    td
                        video#remoteVideo(autoplay='true')
                    td
                        video#thirdVideo(autoplay='true')
                tr

        script(src='javascripts/jquery-1.3.2.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='javascripts/adapter.js')
        script(src='javascripts/new.js')
